VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Midtrans Configuration
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false

# RajaOngkir Configuration
RAJAONGKIR_API_KEY=
RAJAONGKIR_ACCOUNT_TYPE=starter

# Gemini API Key
GEMINI_API_KEY=
